/*

!.gitignore
!.nojekyll
!README.md

!index.html
!coaching.html
!facilitation.html
!od-consulting.html
!clients-partners.html
!contact.html
!thanks.html

!assets/
!assets/**
!functions/
!functions/**

.DS_Store
**/.DS_Store
